In [ ]:
print("Merhaba\nDünya")

In [2]:
print("Merhaba\\nDünya")

Merhaba\nDünya

In [1]:
print ("Inam jame's son")

Inam jame's son

In [3]:
my_list = [1, 2, 3, 4, 5]
my_list[::-1]

[5, 4, 3, 2, 1]

In [4]:
x = 10
y = 20
if x < y:
    print("x is smaller")
else:
    print("y is smaller")

x is smaller

In [5]:
import pandas as pd
data = {'Name': ['John', 'Sara', 'Mike'], 'Age': [28, 22, 32]}
df = pd.DataFrame(data)
df

   Name  Age
0  John   28
1  Sara   22
2  Mike   32

In [6]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])

arr = np.array([1, 2, 3, 4, 5]).sum()
arr

np.int64(15)

In [7]:

def multiply(a, b):
    result = a * b
    return result
print(multiply(3, 5))

15

In [8]:
x = 5
for i in range(x):
    if i % 2 == 0:
        print(i)

0
2
4

In [9]:

my_string = "Python"
my_string[::-1]

'nohtyP'

In [10]:
numbers = [45, 23, 67, 12, 89]
min(numbers)

12

In [11]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}
person["age"]

30

In [13]:

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [12]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))  
print(is_palindrome("hello"))

True
False